#greeting {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 4vw;
  top: 26vh;
}

#greeting h1, #greeting h2, #greeting h3 {
  line-height: 1em;
  margin: 0;
}

#greeting h1 {
  font-size: 7vw;
}

#greeting h2 {
  font-size: 5vw;
}

#greeting h3 {
  font-size: 2vw;
}

#greeting .icons {
  color: #ffffff;
  font-size: 2vw;
  line-height: 2.2vw;
  margin-right: 2vw;
  margin-top: 1vw;
  transition: all .5s;
}

#greeting .icons:hover {
  color: #00ffdb;
}

#greeting .fa-file-alt:hover::after {
  content: "testing"
}
